body{
    font-size: 50px;
    margin: 0%
    padding:0%
}

   .red{
       color: darkblue;
   }
}
h2{
    color: blueviolet;
}
.conteinar{
    display: flex;
    
}
.right{
    width: 50%;

}
.right img{
     width: 30%;
}
.link-buttom{
    text-decoration: none;
    background-color: brown;padding: 20px 30px;
}





 
